@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Retrospect by TEMPLATED
/// templated.co @templatedco
/// Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
///

/* Feature */

	.feature {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');

		&.left {
			@include vendor('flex-direction', 'row');
		}

		&.right {
			@include vendor('flex-direction', 'row-reverse');
		}

		.image {
			width: 48%;
			img {
				max-width: 100%;
			}
		}
		.content {
			width: 52%;
		}


		@include breakpoint(medium) {
			&.left, &.right {
				@include vendor('flex-direction', 'column');
			}
			.image {
				width: 100%;
				img {
					width: 100%;
				}
			}
			.content {
				width: 100%;
			}
		}
	}


	@mixin color-feature($p: null) {
		.feature {
			background-color: _palette($p, border-bg);
		}
	}

	@include color-feature('accent2');
