@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Retrospect by TEMPLATED
/// templated.co @templatedco
/// Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
///

/* Wrapper */

	.wrapper {

		&.style1 {
			@include color(accent1);
		}

		&.style2 {
			@include color(accent2);
		}

		&.style3 {
			@include color(accent3);
			background-attachment: fixed;
			background-size: cover;

		}
		.tint {
			z-index: 1;
			height: 100%;
			width: 100%;
			background: rgba(12,35,64, 0.7);
		}
	}
