@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
//@import 'font-awesome.min.css';

/*
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

// Base.
	@import 'base/typography';
// Component.
	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
//	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/table';
	@import 'components/button';
	@import 'components/feature';
	@import 'components/image-grid';
	@import 'components/wrapper';
	@import 'components/tint_bg';
// Layout.
//	@import 'layout/header';
	@import 'layout/nav';
	@import 'layout/banner';
	@import 'layout/main';
//	@import 'layout/footer';
